{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}Baazar{% endblock %}

{% block JS %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
    
        $('#button').click(function(e) {  
            var inputvalue = $("#input").val();
            window.location.replace(" http://127.0.0.1:8000/baazar/"+inputvalue);
    
        });
    });
</script>
{% endblock %}

{% block content %}
<h1>Baazar</h1>
<input placeholder="item name (one word)" type="text" id="input">
<button type="button" id="button">search</button>
<div class="all_items">
    {% for value in api %}
    <a style="text-decoration: none;" href={{ value|get_baazar_link }}>
        <div class="item_box">
            <ul class="product_info_list">
                <li class="product_info item_name">{{ value|get_name }}</li>
                <li class="product_info">
                    <span class="value_title">Buy Price:</span>
                    <span class="value">{{ value|get_buy_price }}</span>
                </li>
                <li class="product_info">
                    Sell Price:
                    <span class="value">{{ value|get_sell_price }}</span>
                </li>
                <li class="product_info">
                    Buyers:
                    <span class="value">{{ value|get_buy_amount }}</span>
                </li>
                <li class="product_info">
                    Sellers:
                    <span class="value">{{ value|get_sell_amount }}</span>
                </li>
                <li class="product_info">
                    Buy Volume:
                    <span class="value">{{ value|get_buy_volume }}</span>
                </li>
                <li class="product_info">
                    Sell Volume:
                    <span class="value">{{ value|get_sell_volume }}</span>
                </li>
            </ul>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}